<section id="home-page-section">
  <div class="home-page-quote">
    <h1>Discover New Music with Ease</h1>
    @if (this.authService.isAuthenticated()) {
      <button class="home-button authed" (click)="redirectToSearch()"><h2>Browse Albums</h2></button>
    } @else {
      <button class="home-button not-authed" (click)="redirectToLogin()"><h2>Get Started</h2></button>
    }
   
  </div>

  <img src="app-logo-big.svg" alt="app logo" width="400">

  

</section>

<section class="home-page-detail home-page-cards-section">
  <h1>What Is This App?</h1>
  <div class="home-page-cards-container">
    
    <div class="home-page-card">
      <img src="https://avatars.githubusercontent.com/u/149241597?v=4" alt="">
      <h3>Discover New Albums Every Day</h3>
    </div>
    <div class="home-page-card">
      <img src="https://avatars.githubusercontent.com/u/149241597?v=4" alt="">
      <h3>Create Album Packs And Share Your Music</h3>
    </div>
    <div class="home-page-card">
      <img src="https://avatars.githubusercontent.com/u/149241597?v=4" alt="">
      <h3>View Other's Profiles and Artists</h3>
    </div>
  </div>
</section>

<section class="home-page-detail home-get-started">
  <div class="">

  </div>
<img src="https://preview.redd.it/jt3kkegbrb661.jpg?width=1080&crop=smart&auto=webp&s=9ad1bce7cc7538e7e6d86ecc2573eed6b05a6b18" alt="">
</section>

<app-footer></app-footer>

