<section id="home-page-section">
  <div class="home-page-quote">
    <h1>Discover New Music with Ease</h1>
    @if (this.authService.isAuthenticated()) {
      <button class="home-button authed" (click)="redirectToSearch()"><h2>Browse Albums</h2></button>
    } @else {
      <button class="home-button not-authed" (click)="redirectToLogin()"><h2>Get Started</h2></button>
    }
   
  </div>

  <img src="app-logo-big.svg" alt="app logo" width="400">

  

</section>

<section class="home-page-detail">

</section>

<section class="home-page-detail"></section>

<app-footer></app-footer>

