
#home-page-section {
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

#home-page-section h1 {
    width: 600px;
    font-size: 80px;
}

.buttons-authed {
    display: flex;
    gap: 20px;
}

.home-button {
    cursor: pointer;
    color: var(--dark);
    font-size: 16px;
    background-color: var(--primary);
    margin: 20px 0;
    width: 200px;
    border-radius: 12px;
    padding: 12px;
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--white);   
}

.home-button:hover {
    background-color: var(--secondary);
}

.home-button, .authed {
    width: 280px;
} 

.home-page-detail {
    height: 90vh;;
}

.home-page-cards-section {
    padding: 120px 160px;
}

.home-page-cards-section h1 {
    font-size: 60px;
    margin-bottom: 40px;
    text-align: center;
}

.home-page-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 160px;
}

.home-page-card {
    border: 1px solid var(--primary);
    box-shadow: 4px 4px 4px var(--primary);
    align-items: center;
    border-radius: 20px;
    padding: 40px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-secondary);
}

.home-page-svg {
    color: var(--primary);
}

.home-page-card h3 {
    margin: 12px 0px;
    font-size: 24px;
}

.home-get-started {
    
    /* background-color: var(--primary); */
    margin-bottom: 60px;
}

.home-get-started img {
    height: 90vh;
}
