
#home-page-section {
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

#home-page-section h1 {
    width: 600px;
    font-size: 80px;
}

.home-button {
    cursor: pointer;
    color: var(--dark);
    font-size: 16px;
    background-color: var(--primary);
    margin: 20px 0;
    width: 200px;
    border-radius: 12px;
    padding: 12px;
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--white);   
}

.home-button:hover {
    background-color: var(--secondary);
}

.home-button, .authed {
    width: 280px;
} 

.home-page-detail {
    height: 90vh;;
}