.album-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start; 
  	gap: 20px;
	margin: 40px 0;
	padding-left: 60px;
}

h2 {
    margin: 40px;
}

#delete-button {
	margin: 30px;
	padding: 8px;
	background-color: red;
	border: none;
	border-radius: 6px;
	color: white;
	transition: all 0.2s ease;
	cursor: pointer;
}

#delete-button:hover {
	background-color: darkred;
	transform: scale(1.02);
}