h1 {
    text-align: center;
    font-size: 60px;
}

h2 {
    font-size: 30px;
    margin-top: 30px;
}

.profile-page {
    display: flex;
    justify-content: space-between;
}

.profile-left {
	margin: 40px 40px;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.profile-right h2 {
	text-align: center;
}

.profile-right {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.profile-image {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/* margin: 100px;
	margin-left: 150px;
	margin-top: 60px; */
}

.image-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.profile-image img {
	width: 270px;
	height: 270px;
	border-radius: 50%;
}

button {
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 5px;
}

#edit-button {
	background-color: rgba(0, 0, 0, 0.4);
	transition: all 0.1s ease-in-out;
	color: white;
	margin: 0 0 8px 0;
}

#edit-button:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

#edit-button svg {
	margin-left: 3px;
	margin-bottom: -2px;
	margin-right: -5px;
}

.pfp-input {
	text-align: center;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	color: #b6b6b6;
	display: block;
}

.pfp-input::-webkit-file-upload-button {
	color: var(--black);
	border: 1px solid var(--white);
	border-radius: 8px;
	background-color: var(--primary);
	margin-right: 8px;
}

.pfp-input::-webkit-file-upload-button:hover {
	cursor: pointer;
}

.delete-button {
	transition: all 0.1s ease-in-out;
	background-color: var(--warning);
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	margin: 10px 0 10px;
	border-radius: 8px;
}

.delete-button:hover {
	background-color: darkred;
}

.delete-button svg {
	margin-bottom: -2px;
}

.album-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start; 
  	gap: 20px;
	margin: 40px 0;
	padding-left: 60px;
}

.album-card {
	background-color: var(--dark-secondary);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 4px 8px var(--dark-shadow);
	transition: transform 0.3s;
	padding: 10px;
	width: 200px;
	height: 300px;
}

.album-card:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.album-image {
	width: 100%;
	height: 200px; 
	object-fit: cover; 
	border-radius: 8px; 
	margin-bottom: 10px; 
}

.user-details {
	width: 320px;
	background-color: var(--dark-secondary);
	border-radius: 8px;
	padding: 10px;
	font-size: larger;
}

.profile-left input {
	font-size: 16px;
	margin-bottom: 0px;
	background-color: var(--dark-secondary);
	color: var(--white);
}

.user-actions-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 0 12px;
}

.user-actions-buttons button {
	color: var(--white);
	background-color: var(--secondary);
	margin: 8px 0  0;
	transition: all 0.1s ease-in-out;
}

.user-actions-buttons button:hover {
	background-color: var(--secondary-light);
}

.social-media-logos {
	margin-top: 20px;
	display: flex;
	gap: 20px;
	justify-content: center;
}

.logo-image {
	width: 60px;
	height: 60px;
	object-fit: contain;
}

.search-bar {
    height: 32px;
    width: 800px;
    border-radius: 12px;
    background-color: var(--dark-secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar button {
    background: none;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.search-bar svg {
    color: white;
}

.search-bar-container {
    padding: 12px 0px;
    display: flex;
    justify-content: center;
    width: 50%;
}

.search-bar:focus {
    border: 1px solid var(--primary);
}

.search-bar input {
    color: var(--white);
    background-color: transparent;
    border: none;
    margin-right: 24px;
    width: 100%;
}

.search-bar input:focus {
    outline: none;
}