.album-pack-card {
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    background-color: var(--dark-secondary);
    width: 200px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: 8px 8px 8px 8px var(--dark-shadow);
  }
  
  .album-pack-card:hover {
    transform: scale(1.02);
  }
  
  .album-pack-card img {
    width: 120px;
  }

  .album-pack-card h3 {
    text-align: center;
  }

  @keyframes slow-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotating-disc {
    transition: transform 0.3s ease-in-out;
  }
  
  .album-pack-card:hover .rotating-disc {
    animation: slow-spin 10s linear infinite;
  }  