.public-profiles {
    display: flex;
	flex-wrap: wrap;
	justify-content: flex-start; 
  	gap: 20px;
	margin: 40px 0;
	padding-left: 60px;
    align-items: stretch;
}

h2 {
	text-align: center;
	margin: 20px;
	font-size: 32px;
}