<div class="search-bar-container">
  <div class="search-bar">
      <button class="primary" type="button" (click)="filterResults(filter.value)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
      </button>
      <input type="text" placeholder="Search" #filter (keyup.enter)="filterResults(filter.value)">
  </div>
</div>

  <section class="album-cards">
    <app-albums *ngFor="let album of filteredAlbumList" [album]="album" [enableSave]="true" (saveClick)="openSaveModal(album)"></app-albums>
  </section>

  <div *ngIf="showPackModal" class="modal">
    <div class="modal-content">
      <h3>Choose Album Pack</h3>
      <ul>
        <li *ngFor="let pack of albumPacks" (click)="saveToPack(selectedAlbum, pack.id)">
          {{ pack.title }}
        </li>
      </ul>
      <button (click)="closeModal()">Cancel</button>
    </div>
  </div>  
  

<app-footer></app-footer>
