<h1>Album Details</h1>

<div class="all-details">
  <section class="left-section">
    <div class="actions-container">
      <button (click)="goBack()">Return</button>
      <button (click)="goHome()" class="go-home">Home</button>
    </div>   
  </section>

      
  <div class="album-cover">
    
    <img [src]="album.image_url" alt="{{ album.album_name }}" />

  </div>


  <div class="album-details">
    <h2>{{ album.album_name }}</h2>
    <div class="album-data">
      <p><strong>Title:</strong> {{ album.album_name }}</p>
      <p><strong>Artists:</strong> {{ album.artists | albumArtists }}</p>
      <p><strong>Release Year:</strong> {{ album.release_date }}</p>
    </div>

    <div class="save-button-container">
      <button id="save-button" (click)="openSaveModal(this.album)" class="save-button">
        Save
    </button>
    </div>
  </div>

  <div *ngIf="showPackModal" class="modal">
    <div class="modal-content">
      <h3>Choose Album Pack</h3>

      <div class="new-pack">
        <input
          type="text"
          placeholder="New pack name"
          [(ngModel)]="newPackName"
        />
        <button (click)="createNewPack()">Create</button>
      </div>

      <ul>
        <li *ngFor="let pack of albumPacks" (click)="saveToPack(selectedAlbum, pack.id)">
          {{ pack.title }}
        </li>
      </ul>
      <button (click)="closeModal()">Cancel</button>
    </div>
  </div>  
  <!-- <div *ngIf="album" class="album-details">
    
      <!-- <h3>Tracks</h3>
      <ul>
        <li *ngFor="let track of album.tracks">{{ track }}</li>
      </ul> -->
      
  <!-- </div> --> 
<!-- 
  <img id="artist-image" [src]="album.artist_image" alt="{{ album.artist }}" /> -->
</div>



<app-footer></app-footer>