h1 {
    text-align: center;
    font-size: 40px;
}

.all-details {
    display: flex;
}

.all-details h2 {
    margin-top: 50px;
    margin-left: 100px;
}

#artist-image {
    position: absolute;
    right: 0;
    width: 300px;
    margin-top: 80px;
}

.left-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-side img {
    width: 300px;
    margin-left: 80px;
}

.left-side p {
    margin-left: 90px;
    line-height: 1;
}

.album-details {
    margin: 60px;
    margin-left: 200px;
    font-size: large;
}

.album-details h3 {
    margin: 10px;
    margin-top: 50px;
}

#edit-button {
	background-color: rgba(0, 0, 0, 0.4);
	transition: all 0.1s ease-in-out;
	color: white;
	margin-top: 70px;
    padding: 5px;
}

#edit-button:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

#edit-button svg {
	margin-left: 3px;
	margin-bottom: -2px;
	margin-right: -5px;
}

.user-actions-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 0 12px;
}

.user-actions-buttons button {
	color: var(--white);
	background-color: var(--secondary);
	margin: 8px 0  0;
	transition: all 0.1s ease-in-out;
}

.user-actions-buttons button:hover {
	background-color: var(--secondary-light);
}

.actions-container {
    display: flex;
    flex-direction: column; 
    gap: 5px; 
    justify-content: center;
    align-items: center;
    bottom: 10px;
}

.actions-container button {
	background-color: transparent;
    border: 1px solid white;
	color: white;
	padding: 5px 10px;
	cursor: pointer;
	margin: 10px 0 10px;
	border-radius: 8px;
}

.actions-container a {
    color: rgb(207, 207, 255);
}