h1 {
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
}

.all-details {
    display: flex;
    height: 72vh;
}


#artist-image {
    position: absolute;
    width: 300px;
    margin-top: 80px;
}


.left-section {
    height: 90;
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.album-cover {
    margin: 0px 0px 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.album-cover img {
    width: 400px;
}

.album-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 80px;
}

h2 {
    font-size: 40px;
}

.album-details p {
    font-size: 20px;
}

.actions-container {
    display: flex;
    flex-direction: column; 
    gap: 5px; 
    justify-content: center;
    align-items: center;
}

.actions-container button {
    cursor: pointer;
    color: var(--dark);
    font-size: 16px;
    background-color: var(--primary);
    margin: 20px 0;
    border-radius: 12px;
    padding: 12px;
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--white);  
}

.actions-container button:hover{
    background-color: var(--secondary);
}

.actions-container a {
    color: rgb(207, 207, 255);
}

button.go-home {
    background-color: var(--secondary);
}

/*Save button*/
button {
    color: var(--dark);
    border-radius: 20px;
    padding: 6px 12px; 
    font-size: 24px; 
    font-weight: bold;
    border: 1px solid var(--white); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    cursor: pointer;
    margin-top: 10px;
}

#save-button {
    margin: 24px 0;
    background-color: var(--primary);
}

#save-button:hover {
    background-color: var(--secondary); 
    transform: translateY(-2px); 
}

/*Model for saving albums*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-content {
    border: 2px solid var(--secondary);
    background-color: var(--dark);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }

  .modal-content ul {
    list-style: none;
  }
  
  .modal-content ul li {
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
  }
  
  .modal-content ul li:hover {
    background-color: #34383d;
  }
  
  .modal-content button {
    background-color: var(--primary);
    border: none;
    padding: 3px 8px;
    margin: 0px 5px;
    border-radius: 8px;
    border: 1px solid var(--white);
  }

  .modal-content button:hover {
    background-color: var(--secondary);
  }